.shop-cart-btn
  @extend .button
  position: relative
  padding-left: 64px
  padding-right: 49px

.shop-cart-btn::after
  display: block
  content: ''
  width: 26px
  height: 26px
  position: absolute
  left: 12px
  top: 50%
  transform: translateY(-50%)
  background-image: url(../img/shop-cart.png)
  opacity: 0.4
  transition: $common-transition

.shop-cart-btn:hover, .shop-cart:active
  &::after
    opacity: 1
