.site-footer
  text-align: center

.footer-copyright
  display: inline-block
  margin: 0 auto
  padding: 15px 0
  color: $grey

  strong
    font-weight: 500

.footer-copyright:first-child
  margin-right: 20px
