.site-header
  min-height: 100px
  display: flex
  align-items: center

.header-logo-wrapper
  display: flex
  align-items: center

.header-menu-wrapper
  display: flex
  align-items: center

.header-user-control
  text-transform: uppercase
  font-weight: 500
  padding-left: 5px

.header-user-control-log-in
  margin-bottom: 5px
  display: block
  text-align: center
