.site-header-container
  display: grid
  max-width: 1140px
  min-height: 80px
  margin: 0 auto
  grid-template-areas: "logo contacts menu log-in" "logo contacts menu cart-btn"
  grid-template-columns: 180px max-content auto max-content
  align-items: center

  .food-imperial-logo
    grid-area: logo

  .contacts-catalog
    grid-area: contacts

  .site-menu
    grid-area: menu
    justify-self: center

  .site-menu-btn
    grid-area: menu-btn

  .log-in
    grid-area: log-in

  .shop-cart-btn
    grid-area: cart-btn

@media (max-width: 992px)
  .site-header-container
    grid-template-areas: "menu-btn logo cart-btn"
    grid-template-columns: auto
    justify-items: center

    .site-menu-btn
      justify-self: start

    .shop-cart-btn
      justify-self: end

    .contacts-catalog, .site-menu, .log-in
      display: none

  .site-header-container.active
    grid-template-areas: "menu-btn logo cart-btn" "menu menu menu" "contacts contacts contacts" "log-in log-in log-in"
    grid-template-rows: 80px repeat(2, auto) 60px
    height: 100vh

    .contacts-catalog
      display: grid

    .site-menu
      display: flex

    .log-in
      display: inline-block
