.s-dishes-types-list
  display: flex
  flex-wrap: wrap
  justify-content: center

.dish-type
  position: relative
  color: $grey
  text-transform: uppercase
  font-weight: 500
  margin-right: 20px
  transition: $common-transition
  cursor: pointer

  &::after
    display: none
    content: ''
    height: 2px
    width: 100%
    background: $yellow
    position: absolute
    bottom: 0

.dish-type:nth-child(9)
  margin-right: 0

.dish-type.active
  color: $black

  &::after
    display: block

.dish-type-all
  @extend .dish-type
  color: $black
  font-weight: bold
  padding: 1px 12px
  background: linear-gradient(180deg, #FFDD4E 0%, #FFD31B 99.99%, #FFD31B 100%)
  border-radius: 15px

.dish-type-all.active
  color: $black

  &::after
    display: none

.dish-excluzive-type
  @extend .dish-type
  color: $red
  font-weight: bold

.dish-excluzive-type.active
  color: $red

  &::after
    display: none

.dish-first-excluzive-type
  @extend .dish-excluzive-type
  padding-left: 25px

  &::before
    position: absolute
    content: ''
    display: block
    left: 0
    top: 2px
    width: 20px
    height: 20px
    background-image: url(../img/new-year-offer-icon.svg)

@media ( max-width: 992px )
  .s-dishes-types-list
    display: none
    font-size: 12px

  .s-dishes-container.filtered
    .s-dishes-types-list
      display: block
      margin-left: 40px
      padding-left: 25px

    .dish-type-all
      background: none
      padding: 0
      color: $grey
      font-weight: 500

    .dish-type
      padding-top: 7px
      padding-bottom: 7px

      &::after
        display: block
        height: 22px
        width: 22px
        position: absolute
        bottom: 51%
        transform: translateY(50%)
        left: -35px
        border: 1px solid #E9E9E9
        background: #fff
        border-radius: 50%

    .dish-type.active
      color: $grey

      &::after
        background: url(../img/check-mark.svg), linear-gradient(180deg, #FFDD4E 0%, #FFD31B 99.99%, #FFD31B 100%)
        background-repeat: no-repeat
        background-position: 50% 50%
        background-color: $yellow
        border: none

    .dish-excluzive-type.active
      color: $red
